.app.dark {
  --bg-color: #0e0e74;
  --inverted-bg-color: #e2e2eb;
  --primary-color: green;
  --secondary-color: rgb(15 198 15);
  --inverted-primary-color: rgb(20 9 84);
  --inverted-secondary-color: rgb(128 114 189);
}
