.app {
  --bg-color: #e2e2eb;
  --inverted-bg-color: #0e0e74;

  --primary-color: rgb(20, 9, 84);
  --secondary-color: rgb(128, 114, 189);

  --inverted-primary-color: green;
  --inverted-secondary-color: rgb(15, 198, 15);
}
